<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap сайт</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">КАТАЛОГ О МУЗЫКЕ</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Домой</a></li>
          <li><a href="two.html">Про нас</a></li>
          <li><a href="throw.html">Популярная музыка</a></li>
          <li><a href="#">Карта мира</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h1>Музыка делает наш мир лучше!</h1>
          </div>
        </div>
      </div>
    </div>
      <div id="opic">
        <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Коротко о современной музыке</h1>
        <p>Сегодня люди очень часто слушают музыку. Некоторые слушают её по дороге на работу и с работы, некоторые прямо на работе, другие на отдыхе, в ресторане, в кафе, в боулинге, в парке, дома, да практически везде нас сопровождает музыка. Современная музыка очень разнообразна, кому-то нравится рок или тяжёлый металл, кто-то предпочитает современную поп-музыку, многим нравится романтическая музыка. Но как влияет музыка на человека?
Во-первых, музыка влияет на настроение. Весёлая песня поднимает настроение, а грустная, наоборот, заставляет вспомнить какие-то грустные моменты в жизни. Но чаще всего гармоничное сочетание звуков и приятная музыка положительно сказываются на эмоциональном состоянии человека, а также доставляют ему радость. Музыка, построенная на диссонансах и какофонии, как правило, нравится немногим людям, а у некоторых она вызывает раздражение, нервозность и даже физическую боль.
Во-вторых, музыка позволяет отвлечься и расслабиться, поэтому её часто включают фоном в различных развлекательных заведениях, а вот слушать громко музыку в машине не рекомендуется, так как это способствует снижению концентрации внимания водителя. Также фоновая музыка может повлиять на производительность труда офисного сотрудника, так как под музыку гораздо тяжелее сконцентрироваться на каком-либо деле. Влияние музыки на человека очень значимо.
В-третьих, музыка снимает напряжение и позволяет выйти из состояния стресса. Здесь, конечно, всё сугубо индивидуально, и каждый человек подбирает музыку под своё душевное состояние. Но есть и специальная музыка для расслабления, которую многие слушают перед сном или во время занятий йогой.
В-четвёртых, музыка помогает заниматься спортом или совершать какую-либо физическую работу, как бы задавая ритм и помогая движению.
</p>
      </div>
      </div>  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
  <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>
